*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.propertie
/app/src/main/jni/gst-build-arm64-v8a
/app/src/main/jni/gst-build-armeabi-v7a
/app/src/main/jni/gst-build-x86
/app/src/main/jni/gst-build-x86_64
/app/src/main/jni/src
/app/src/main/libs
/app/src/main/obj
/app/gst-build-arm64-v8a
